modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
# run = "npm run dev"
run = "npm run build && miniserve public --index index.html"
entrypoint = "README.md"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run build && miniserve public --index index.html"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 8080
externalPort = 80
